# Nettoyage de donnée

In [ ]:
import pandas as pd
import numpy as np  
import re

data = pd.read_csv('../datas/personnes.csv')

data.head()

### Detecter les erreurs

####  Les valeurs manquantes : isnull()

In [ ]:
print(data.isnull().sum())

#### Les doublons : .duplicated()

In [ ]:
data.loc[data['email'].duplicated(keep=False),:]

### Traiter les erreurs

#### Remplacer la valeur manquante

In [ ]:
#Remplacer la valeur
#mask = condition à vérifier pour cibler spécifiquement certaines lignes
#data.loc[mask, 'ma_colonne'] = nouvelles_valeurs
data.loc[data['pays'].isnull(), 'pays'] = 'Cameroun'
data

#### Traiter les pays

In [ ]:
#On crée une liste des valeurs attendues, puis on comparer, s'il n'existe pas on remplace par NaN
VALID_COUNTRIES = ['France', 'Côte d\'ivoire', 'Madagascar', 'Bénin', 'Allemagne'
                  , 'USA', 'Cameroun']
mask = ~data['pays'].isin(VALID_COUNTRIES)
data.loc[mask, 'pays'] = np.NaN
data

#### Traiter la ligne avec deux adresses emails :

In [ ]:
data['email'] = data['email'].str.split(',', n=1, expand=True)[0]
data

#### Traiter les tailles

In [ ]:
#Convertir les tailles en nombres décimaux
data['taille'] = data['taille'].str[:-1]
data['taille'] = pd.to_numeric(data['taille'], errors='coerce')
data

In [20]:
#remplacer les valeurs manquantes par la moyenne de la variable
data.loc[data['taille'].isnull(), 'taille'] = data['taille'].mean()
data

   prenom                     email date_naissance           pays    taille
0   Leila         leila@example.com     23/01/1990         France  1.490000
1  Samuel    samuel_329@example.com     20/09/2001       Cameroun  1.670000
2   Radia  choupipoune@supermail.eu  12 sept. 1984  Côte d'ivoire  1.841667
3    Marc       marco23@example.com     10/02/1978         France  1.650000
4    Heri   helloworld@supermail.eu     05/03/2008     Madagascar  1.340000
5   Hanna    hanna2019@supermail.eu     01/01/1970            NaN  3.450000
6  samuël    samuel_329@example.com            NaN          Bénin  1.450000

#### Traiter les dates

In [21]:
data['date_naissance'] = pd.to_datetime(data['date_naissance'], format='%d/%m/%Y', errors='coerce')
data

   prenom                     email date_naissance           pays    taille
0   Leila         leila@example.com     1990-01-23         France  1.490000
1  Samuel    samuel_329@example.com     2001-09-20       Cameroun  1.670000
2   Radia  choupipoune@supermail.eu            NaT  Côte d'ivoire  1.841667
3    Marc       marco23@example.com     1978-02-10         France  1.650000
4    Heri   helloworld@supermail.eu     2008-03-05     Madagascar  1.340000
5   Hanna    hanna2019@supermail.eu     1970-01-01            NaN  3.450000
6  samuël    samuel_329@example.com            NaT          Bénin  1.450000