<h1 align="center"> QUIZ </h1>

In [32]:
import pandas as pd
import numpy as np
import scipy.stats as st

data = pd.read_csv('../datas/quiz.csv', delimiter=";")
data.head()

   Position Sexe     Temps  Dept Temps_secondes   Age
0         1    M  00:32:23    76           1943  40.0
1         2    M  00:32:40    27           1960  34.0
2         3    M  00:33:15    76           1995  44.0
3         4    M  00:33:23    76           2003  46.0
4         5    M  00:33:29    76           2009  26.0

##### Q1 : quel département n'appartenant pas à cette liste apparaît pourtant dans notre jeu de données ?

In [ ]:
departement = [76,27,14]

result = data.loc[~data['Dept'].isin(departement), 'Dept']
result # Réponse 78

##### Q2 : Notre jeu de données contient plusieurs valeurs manquantes.  Determinez combien exactement et combien de variables sont concernées :

In [ ]:
print(data.isnull().sum())
print(data.loc[data['Position'] == 251, :])
# Il ya deux variables , Sexe (2 valeurs manquantes), Age (4 valeurs manquantes)

##### Q3 : Essayez de convertir la variable Temps dans un format adapté (datetime, par exemple)

In [ ]:
data['Temps'] = pd.to_datetime(data['Temps'], format='%d/%m/%Y', errors='coerce')
print(data.isnull().sum())
print(data.loc[data['Temps'].isnull(), :])
data.head() 
#Reponse Irrégularité

##### Q4 : En regardant les variables quantitatives (Position, Age et Temps_secondes), combien d'outliers se trouvent dans notre jeu de données au total ?

In [31]:
#Trouver les outliner pour la position :
position = data.loc[(data['Position'] < 1) | (data['Position'] > 340), :].shape[0]
#Trouver les outliner pour la l'age :
#position = data.loc[(data['Position'] < 1) | (data['Position'] > 340), :].shape[0]
#Trouver les outliner pour le Temps_sec :
#position = data.loc[(data['Position'] < 1) | (data['Position'] > 340), :].shape[0]
#Réponse 2 sur la position

2

##### Q5 : Notre jeu de données possède-t-il des doublons ?

In [34]:
data.loc[data[:].duplicated(keep=False),:]

Empty DataFrame
Columns: [Position, Sexe, Temps, Dept, Temps_secondes, Age]
Index: []