# Pandas : Filter les données

In [2]:
import pandas as pd
import numpy as np

df_xlsx = pd.read_excel('../datas/clients.xlsx')
df_csv = pd.read_csv('../datas/clients.csv')
df_json = pd.read_json('../datas/clients.json')



df_xlsx['achats'] = np.random.randint(100,200,df_xlsx.shape[0])*1000
df_xlsx['dépenses'] = np.random.randint(1,99,df_xlsx.shape[0])*1000

df_xlsx.head()

,identifiant,email,nom,genre,achats,dépenses
0,0,LaurentDagenais@rhyta.com,Laurent Dagenais,M,145000,45000
1,1,GuyMarois@fleckens.hu,Guy Marois,M,174000,96000
2,2,BeaufortLesage@einrot.com,Beaufort Lesage,M,173000,84000
3,3,RussellDurand@armyspy.com,Russell Durand,M,121000,98000
4,4,AlexisRiel@rhyta.com,Alexis Riel,M,176000,61000

### 1 - Appliquez la sélection via des indices : iloc

In [ ]:
#La méthode.iloc suit la syntaxe suivante :  mon_dataframe.iloc[indice_ligne, indice_colonne]
df_xlsx.iloc[0,2] # Qui corresponds au nom du premier client

df_xlsx.iloc[3:10,2] #Les noms des clients du 3eme au 9eme

df_xlsx.iloc[:4,:] #Toutes les colonnes des 4 premiers clients

# sélectionner l’e-mail et le genre des 10 derniers clients :
df_xlsx.iloc[-10:, [1, 3]]

### 2-Utilisez la sélection via des conditions : loc

In [ ]:
#mon_dataframe.loc[ condition sur les lignes, colonne(s) ]
df_xlsx.loc[df_xlsx['email'].str.endswith('@rhyta.com'),:] #Tous les emails du nom de domaine @rhyta.com
df_xlsx.loc[df_xlsx['email'].str.endswith('@rhyta.com'),'nom'] #Afficher juste le nom des emails du nom de domaine @rhyta.com
df_xlsx.loc[df_xlsx['email'].str.endswith('@rhyta.com'),['nom','email']] #Afficher deux colonnes nom et email des emails du nom de domaine @rhyta.com

In [ ]:
df_xlsx.loc[df_xlsx['achats'] < 3000, ['nom','email','achats']] #Affiche les clients dont les achats sont inférieurs à 3000

#### 3- Mixer les conditions : opérateur $ (et) / | (ou)

In [ ]:
df_xlsx.loc[(df_xlsx['achats'] > 90000) & (df_xlsx['genre'] == 'F'), :] #Toutes les femmes avec un revenue supérieur à 90000
df_xlsx.loc[(df_xlsx['achats'] < 3000) | (df_xlsx['genre'] == 'F'), :] #Toutes les homes ou tous les revenues inférieur à 3000

#### Modification avec conditions

In [ ]:
#Ajouter 1500 aux acgats de toutes les femmes
df_xlsx.loc[(df_xlsx['achats'] > 90000) & (df_xlsx['genre'] == 'F'), 'achats'] = df_xlsx.loc[(df_xlsx['achats'] > 90000) & (df_xlsx['genre'] == 'F'), 'achats'] + 1500

df_xlsx.head()

# 3 - Aggréger les données

#### Aggregation par groupes d'un index : .groupeby()

In [3]:
df_xlsx.groupby('genre').sum() #avoir un tableau avec les donner grouper par genre
df_xlsx.groupby('genre')['achats'].sum() #On veut avoir que le résultat des achats
#appliquer des fonctions d’agrégation différentes en fonction de la colonne, voir appliquer plusieurs fonctions d’agrégation sur une même colonne
df_xlsx.groupby('genre').agg({'dépenses':['sum','mean'], 'achats':['max','min','mean']})

      dépenses                achats
           sum          mean     max     min           mean
genre
F      5790000  49067.796610  199000  101000  149237.288136
M      5435000  49409.090909  199000  100000  153718.181818

#### Aggréger les lignes et les colonnes : .pivot_table

In [ ]:
#prets.pivot_table(index='ville', columns='type', values='benefices', aggfunc=np.mean)